/// Cast a stringified number / stringified percentage into number type
/// @access private
/// @param {string} $string - string
/// @return {Number} - unitless number or percentage
/// @require {function} _sc-to-number
@function _sc-get-color-value($string) {
  $first: str-slice($string, 1, 1);

  // Pad <1 values with a leading 0
  @if ($first == '.') {
    $string: '0' + $string;
  }

  $last: str-slice($string, -1, -1);

  @if ($last == '%') {
    @return to-number(str-slice($string, 1, -2), 2) * 1%;
  }

  @return to-number($string);
}
