/// Convert an hexadecimal number to a decimal number
/// @access private
/// @param {String} $string - hexadecimal value
/// @return {Number} - decimal number
@function _sc-hex-to-dec($string) {
  $string: to-lower-case($string);
  $length: str-length($string);
  $hex: map-get($sc-constants, 'HEXADECIMAL_SPACE');

  $decimal: 0;

  @for $i from 1 through $length {
    $factor: 1 + (length($hex) * ($length - $i));
    $index: index($hex, str-slice($string, $i, $i));
    $decimal: $decimal + $factor * ($index - 1);
  }

  @return $decimal;
}
