/// Convert to list
/// @param {*} $value - value to cast
/// @param {String} $keep ('both') - whether to keep `keys`, `values` or `both` when casting a map
/// @return {List}
@function _sc-to-list($value, $keep: 'both') {
  $type: type-of($value);

  @if ($type == 'list') {
    @return $value;
  }

  @if ($type == 'map') {
    $keys: map-keys($value);
    $values: map-values($value);

    @if ($keep == 'values') {
      @return $values;
    } @else if ($keep == 'keys') {
      @return $keys;
    } @else {
      @return zip($keys, $values);
    }
  }

  @return ($value,);
}
