/// Convert to string
/// @param {*} $value - value to cast
/// @return {String}
@function _sc-to-string($value) {
  $type: type-of($value);

  @if ($type == 'string') {
    @return $value;
  }

  @if type-of($value) == 'color' {
    @warn 'Beware! Sass does some color conversion. The resulting string may be different from the color input.';
  }


  @return inspect($value);
}
