/// Convert to map
/// @param {*} $value - value to cast
/// @return {Map}
@function _sc-to-map($value) {
  $type: type-of($value);

  @if ($type == 'map') {
    @return $value;
  }

  @if ($type == 'list') {
    $length: length($value);

    @if ($length == 0) {
      @return ();
    } @else {
      $map: ();

      @for $i from 1 through $length {
        $map: map-merge($map, ($i: nth($value, $i)));
      }

      @return $map;
    }
  }

  @return (1: $value);
}
