@include test('to-bool(..)') {
  $tests: (
    1: ('value': true, 'type': 'bool'),
    42: ('value': true, 'type': 'bool'),
    -42: ('value': true, 'type': 'bool'),
    -4.2: ('value': true, 'type': 'bool'),
    4.2: ('value': true, 'type': 'bool'),
    42em: ('value': true, 'type': 'bool'),
    -42em: ('value': true, 'type': 'bool'),
    -4.2em: ('value': true, 'type': 'bool'),
    4.2em: ('value': true, 'type': 'bool'),
    '': ('value': false, 'type': 'bool'),
    'string': ('value': true, 'type': 'bool'),
    'this is a string': ('value': true, 'type': 'bool'),
    'true': ('value': true, 'type': 'bool'),
    'false': ('value': true, 'type': 'bool'),
    '0': ('value': true, 'type': 'bool'),
    '-0': ('value': true, 'type': 'bool'),
    '1': ('value': true, 'type': 'bool'),
    '42': ('value': true, 'type': 'bool'),
    '4.2': ('value': true, 'type': 'bool'),
    '-42': ('value': true, 'type': 'bool'),
    '-4.2': ('value': true, 'type': 'bool'),
    '42em': ('value': true, 'type': 'bool'),
    '4.2em': ('value': true, 'type': 'bool'),
    '-42em': ('value': true, 'type': 'bool'),
    '-4.2em': ('value': true, 'type': 'bool'),
    '#000': ('value': true, 'type': 'bool'),
    '#000000': ('value': true, 'type': 'bool'),
    'black': ('value': true, 'type': 'bool'),
    'rgb(0,0,0)': ('value': true, 'type': 'bool'),
    'rgba(0,0,0,.5)': ('value': true, 'type': 'bool'),
    'hsl(0,0,0)': ('value': true, 'type': 'bool'),
    'hsla(0,0,0, .5)': ('value': true, 'type': 'bool'),
    #000: ('value': true, 'type': 'bool'),
    #ffffff: ('value': true, 'type': 'bool'),
    red: ('value': true, 'type': 'bool'),
    rgb(10, 20, 30): ('value': true, 'type': 'bool'),
    rgba(30, 20, 10, 0.5): ('value': true, 'type': 'bool'),
    hsl(10, 20, 30): ('value': true, 'type': 'bool'),
    hsla(30, 20, 10, 0.5): ('value': true, 'type': 'bool'),
    true: ('value': true, 'type': 'bool'),
    false: ('value': false, 'type': 'bool'),
    (this, is, a, list): ('value': true, 'type': 'bool'),
    (this is a list): ('value': true, 'type': 'bool'),
    ('a': 1, 'b': 2): ('value': true, 'type': 'bool'),
    null: ('value': false, 'type': 'bool'),
  );

  @each $test, $expect in $tests {
    $actual-value: to-bool($test);
    $actual-type: type-of($actual-value);

    $expected-value: map-get($expect, 'value');
    $expected-type: map-get($expect, 'type');

    @include assert-equal($actual-value, $expected-value, 'Cast to a bool.');
    @include assert-equal($actual-type, $expected-type, 'Cast to a bool.');
  }
}
