@include test('to-color(..)') {
  $tests: (
    1: ('value': null, 'type': 'null'),
    42: ('value': null, 'type': 'null'),
    -42: ('value': null, 'type': 'null'),
    -4.2: ('value': null, 'type': 'null'),
    4.2: ('value': null, 'type': 'null'),
    42em: ('value': null, 'type': 'null'),
    -42em: ('value': null, 'type': 'null'),
    -4.2em: ('value': null, 'type': 'null'),
    4.2em: ('value': null, 'type': 'null'),
    '': ('value': null, 'type': 'null'),
    'string': ('value': null, 'type': 'null'),
    'this is a string': ('value': null, 'type': 'null'),
    'true': ('value': null, 'type': 'null'),
    'false': ('value': null, 'type': 'null'),
    '0': ('value': null, 'type': 'null'),
    '-0': ('value': null, 'type': 'null'),
    '1': ('value': null, 'type': 'null'),
    '42': ('value': null, 'type': 'null'),
    '4.2': ('value': null, 'type': 'null'),
    '-42': ('value': null, 'type': 'null'),
    '-4.2': ('value': null, 'type': 'null'),
    '42em': ('value': null, 'type': 'null'),
    '4.2em': ('value': null, 'type': 'null'),
    '-42em': ('value': null, 'type': 'null'),
    '-4.2em': ('value': null, 'type': 'null'),
    '#000': ('value': black, 'type': 'color'),
    '#000000': ('value': black, 'type': 'color'),
    'black': ('value': black, 'type': 'color'),
    'rgb(0,0,0)': ('value': black, 'type': 'color'),
    'rgba(0,0,0,.5)': ('value': rgba(black, 0.5), 'type': 'color'),
    'hsl(0,0,0)': ('value': black, 'type': 'color'),
    'hsla(0,0,0, .5)': ('value': rgba(black, 0.5), 'type': 'color'),
    #000: ('value': black, 'type': 'color'),
    #ffffff: ('value': white, 'type': 'color'),
    red: ('value': red, 'type': 'color'),
    rgb(10, 20, 30): ('value': rgb(10, 20, 30), 'type': 'color'),
    rgba(30, 20, 10, 0.5): ('value': rgba(30, 20, 10, 0.5), 'type': 'color'),
    hsl(10, 20, 30): ('value': hsl(10, 20, 30), 'type': 'color'),
    hsla(30, 20, 10, 0.5): ('value': hsla(30, 20, 10, 0.5), 'type': 'color'),
    true: ('value': null, 'type': 'null'),
    false: ('value': null, 'type': 'null'),
    (this, is, a, list): ('value': null, 'type': 'null'),
    (this is a list): ('value': null, 'type': 'null'),
    ('a': 1, 'b': 2): ('value': null, 'type': 'null'),
    null: ('value': null, 'type': 'null'),
  );

  @each $test, $expect in $tests {
    $actual-value: to-color($test);
    $actual-type: type-of($actual-value);

    $expected-value: map-get($expect, 'value');
    $expected-type: map-get($expect, 'type');

    @include assert-equal($actual-value, $expected-value, 'Cast to a color if possible, or return null.');
    @include assert-equal($actual-type, $expected-type, 'Cast to a color if possible, or return null.');
  }
}
