@include test('to-string(..)') {
  $tests: (
    1: ('value': '1', 'type': 'string'),
    42: ('value': '42', 'type': 'string'),
    -42: ('value': '-42', 'type': 'string'),
    -4.2: ('value': '-4.2', 'type': 'string'),
    4.2: ('value': '4.2', 'type': 'string'),
    42em: ('value': '42em', 'type': 'string'),
    -42em: ('value': '-42em', 'type': 'string'),
    -4.2em: ('value': '-4.2em', 'type': 'string'),
    4.2em: ('value': '4.2em', 'type': 'string'),
    '': ('value': '', 'type': 'string'),
    'string': ('value': 'string', 'type': 'string'),
    'this is a string': ('value': 'this is a string', 'type': 'string'),
    'true': ('value': 'true', 'type': 'string'),
    'false': ('value': 'false', 'type': 'string'),
    '0': ('value': '0', 'type': 'string'),
    '-0': ('value': '-0', 'type': 'string'),
    '1': ('value': '1', 'type': 'string'),
    '42': ('value': '42', 'type': 'string'),
    '4.2': ('value': '4.2', 'type': 'string'),
    '-42': ('value': '-42', 'type': 'string'),
    '-4.2': ('value': '-4.2', 'type': 'string'),
    '42em': ('value': '42em', 'type': 'string'),
    '4.2em': ('value': '4.2em', 'type': 'string'),
    '-42em': ('value': '-42em', 'type': 'string'),
    '-4.2em': ('value': '-4.2em', 'type': 'string'),
    '#000': ('value': '#000', 'type': 'string'),
    '#000000': ('value': '#000000', 'type': 'string'),
    'black': ('value': 'black', 'type': 'string'),
    'rgb(0,0,0)': ('value': 'rgb(0,0,0)', 'type': 'string'),
    'rgba(0,0,0,.5)': ('value': 'rgba(0,0,0,.5)', 'type': 'string'),
    'hsl(0,0,0)': ('value': 'hsl(0,0,0)', 'type': 'string'),
    'hsla(0,0,0, .5)': ('value': 'hsla(0,0,0, .5)', 'type': 'string'),
    #000: ('value': '#000', 'type': 'string'),
    #ffffff: ('value': '#ffffff', 'type': 'string'),
    red: ('value': 'red', 'type': 'string'),
    rgb(10, 20, 30): ('value': '#0a141e', 'type': 'string'),
    rgba(30, 20, 10, 0.5): ('value': 'rgba(30, 20, 10, 0.5)', 'type': 'string'),
    hsl(10, 20, 30): ('value': '#5c423d', 'type': 'string'),
    hsla(30, 20, 10, 0.5): ('value': 'rgba(31, 26, 20, 0.5)', 'type': 'string'),
    true: ('value': 'true', 'type': 'string'),
    false: ('value': 'false', 'type': 'string'),
    (this, is, a, list): ('value': 'this, is, a, list', 'type': 'string'),
    (this is a list): ('value': 'this is a list', 'type': 'string'),
    ('a': 1, 'b': 2): ('value': '("a": 1, "b": 2)', 'type': 'string'),
    null: ('value': 'null', 'type': 'string'),
  );

  @each $test, $expect in $tests {
    $actual-value: to-string($test);
    $actual-type: type-of($actual-value);

    $expected-value: map-get($expect, 'value');
    $expected-type: map-get($expect, 'type');

    @include assert-equal($actual-value, $expected-value, 'Cast to string.');
    @include assert-equal($actual-type, $expected-type, 'Cast to string.');
  }
}
